{% extends "base.html" %}

{% block title %}{{ title }}
{% endblock %}

{% block main-content %}
    <div class="alert alert-info" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Rules Settings Page is in progress.
        Please redirect yourself to <a href="/">home page</a>.
    </div>
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span>Rules/Policies</span>
                    <!--
                    <span class="pull-right">
                        <input type="submit" value="Add new sensor" style="color:black">
                    </span>
                    -->
                    <button type="button" class="btn btn-info pull-right" data-toggle="modal" data-target="#addRuleForm" style="padding:0 5px 0 5px">
                        Add new rule
                    </button>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Sensor</th>
                                    <th>Threshold (&#8451;)</th>
                                    <th>Retrospect Period (minutes)</th>
                                    <th>Position</th>
                                    <th>Email</th>
                                    <th>Operation</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rule in rules %}
                                    <tr>
                                        <td>{{ rule.sensor }}</td>
                                        <td>{{ rule.threshold }}</td>
                                        <td>{{ rule.retrospect_period }}</td>
                                        <td>{{ rule.position }}</td>
                                        <td>{{ rule.email }}</td>
                                        <td>{{ rule.operation }}</td>
                                        <td>{{ rule.status }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="addRuleForm" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="padding:10px 50px;">
                        <button type="button" class="close" data-dismiss="modal" style="padding:10px">&times;</button>
                        <h4><span class="glyphicon glyphicon-cog"></span> Add Rule</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ new_rule_form.as_p}}
                            <input type="submit" value="Save Rule">
                        </form>
                    </div>

                    <div class="modal-footer" style="padding:10px 50px;">
                        <div id="copyright">
                            <p>
                                <center>&copy; <a href="http://www.coriolis.co.in" target="_blank" style="color:white"><strong>Coriolis Technologies Pvt Ltd</strong></a>
                                </center>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
